# shellcheck shell=bash
if ! has nix_direnv_version || ! nix_direnv_version 3.1.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/3.1.0/direnvrc" "sha256-yMJ2OVMzrFaDPn7q8nCBZFRYpL/f0RcHzhmw/i6btJM="
fi
use flake

export NIXFILES_HOSTNAME=$(cat .hostname | awk 'NF{$1=$1;print}')
export SOPS_AGE_KEY_FILE="$HOME/.ssh/nix.age"
